<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a
			role="button"
			class="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbarBasicExample"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/"> Home </a>

			<a class="navbar-item" href="/sites"> Attractions </a>

			<a class="navbar-item" href="/sites/add"> Add new location </a>

			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link"> Links </a>

				<div class="navbar-dropdown">
					<a class="navbar-item" href="https://github.com/kevinsekuj">
						GitHub
					</a>
					<a
						class="navbar-item"
						href="https://www.linkedin.com/in/kevinsekuj/"
					>
						LinkedIn
					</a>
					<hr class="navbar-divider" />
					<a class="navbar-item" href="mailto:kevinsekuj@gmail.com">
						Contact/report bugs
					</a>
				</div>
			</div>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<% if(!currentUser) { %>
					<a class="button is-white" href="/register">
						<strong>Sign up</strong>
					</a>
					<a class="button is-white" href="/login"> Sign in </a>
					<% } else {%>
					<a class="button is-white" href="/logout">Sign out</a>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</nav>
