<% layout('/partials/boilerplate') %>

<div class="box" id="alertbox">
	<div class="notification is-warning" id="alertheader">
		<h3 class="title is-3"><%= err.status%></h4>
	  </div>
	  <div>
		<h4 class="subtitle is-4"><strong>Status</strong>: <%=err.message %></h2>
	</div>
</div>

