<% layout('/partials/boilerplate') %>

<div class="alert alert-warning" role="alert">
	<h4 class="alert-heading"><%= err.status%></h4>
	<p></p>
	<hr />
	<p class="mb-0">Status: <%=err.message %></p>
</div>
