<% layout('/partials/boilerplate') %>

<form action="/sites" method="POST">
	<div>
		<label for="">Title</label>
		<input
			type="text"
			name="site[name]"
			id="site"
			placeholder="Enter a name"
		/>
	</div>
	<div>
		<label for="">Location</label>
		<input
			type="text"
			name="site[location]"
			id="location"
			placeholder="Enter a location"
		/>
	</div>
	<button>Submit new site</button>
</form>
