<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add a new site</title>
	</head>
	<body>
		<form action="/sites" method="POST">
			<div>
				<label for="">Title</label>
				<input
					type="text"
					name="site[name]"
					id="site"
					placeholder="Enter a name"
				/>
			</div>
			<div>
				<label for="">Location</label>
				<input
					type="text"
					name="site[location]"
					id="location"
					placeholder="Enter a location"
				/>
			</div>
			<button>Submit new site</button>
		</form>
	</body>
</html>
