<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Site view</title>
	</head>
	<body>
		<h1>Site name: <%=site.name%></h1>
		<h2>Site title: <%= site.location %></h2>
		<h2>Site ID: <%= site._id %></h2>

		<footer>
			<a href="/sites/">Return to all sites</a>
			<a href="/sites/<%=site._id%>/edit">Edit this site</a>
		</footer>
	</body>
</html>
